{% extends 'shop/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h1>User Profile</h1>
<p>Username: {{ user.username }}</p>
<h2>Your Cart</h2>
<p>Items in Cart: {{ cart_items_count }}</p>
<ul>
    {% for item in cart_items %}
        <li>{{ item.quantity }} of {{ item.product.name }} - ${{ item.product.price }}</li>
    {% endfor %}
</ul>
<p>Total Price: ${{ total_price }}</p>
<a href="{% url 'cart' %}">View Cart</a>
<h2>Your Orders</h2>
<ul>
    {% for order in user.order_set.all %}
        <li>{{ order.quantity }} of {{ order.product.name }} - Ordered on {{ order.ordered_at }}</li>
    {% endfor %}
</ul>
{% endblock %}




